---

- name: create the security group
  local_action:
    module: ec2_group
    name: "{{ name|default('mygroup') }}"
    description: "ansible generated group"
    region: "{{ region|default('us-east-1') }}"
    rules:
        - proto: tcp
          from_port: 80
          to_port: 80
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 443
          to_port: 443
          cidr_ip: 0.0.0.0/0
        - proto: tcp
          from_port: 22
          to_port: 22
          cidr_ip: 0.0.0.0/0
    rules_egress:
        - proto: all
          cidr_ip: "0.0.0.0/0"
  register: securitygroup_data

- name: debug security group
  debug: msg="{{ securitygroup_data }}"
